ADDRESS="0x123..." # Address of GLP holder
MAINNET_RPC_URL="https://..." # Mainnet RPC URL
ARBITRUM_RPC_URL="https://..." # Arbitrum RPC URL

MAX_EXPECTED_GLP_OWNED_USD="30000" # USD amount of max expected GLP owned, used to double-check calculations
CURRENT_SHORT_SIZE_ETH="20" # Number of ETH currently shorted, in ETH units
CURRENT_SHORT_SIZE_BTC="2" # Number of BTC currently shorted, in BTC units
OVERRIDE_GLP_OWNED="" # Only set if testing calculations with a specific number of GLP owned, in GLP units